.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.menu
{
background-color: #00547E;
border-bottom: 4px solid #04A3ED;
width:100%;
height: auto;
padding: 0 10px;
margin: 0px;
z-index: 1;
opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
background-color : #04A3ED;
color: white;
font-weight: 900px;
font-size: 25px; 

}

.menu  .navbar-nav >  li >  a
{
font-size: 20px;
color: white;
padding: 20px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
background-color: #04A3ED;
}
.menu  .navbar-nav >  li {
font-size: 13px;
color: white;
padding: 10px;

}
.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 35px;
padding: 5px 30px;
}
h6{
    font-size: 13px;
    color: rgb(218, 252, 250); 
}
.navbar-header > a:hover
{
text-decoration: none;
color: #04A3ED;
}
.navSpan{
    font-size: 13px;
    color: white;
    padding: 10px 35px;
    line-height:40px;
    }
    /* Footer */

footer{
    background-color:  #00547E;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 35px;
     text-align: center;
     color: #CCC;
 }
 
 footer p {
     padding: 10.5px;
     margin: 0px;
     line-height: 100%;
 }
img{
    width: 50px;


}
.col-md-5{
    padding: 9px;
    color: #00547E;
}
h2{
    color: rgb(20, 163, 92); 
    font-weight: 900px;

}
h3{
    color: rgb(7, 215, 252); 
    font-weight: 900px;
}

.alert alert-success{
    position: absolute;
    left: 100px;
    top: 1px;
}
